.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 5px;
}

.image-gallery img:first-child {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
