@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: theme('fontFamily.serif');
    font-weight: bold;
    text-transform: capitalize;
  }

  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: large;
  }

  img {
    object-fit: cover;
  }

  body {
    background-color: #f9f9f9;
    color: rgb(49, 49, 49);
  }

  main {
    min-height: 100vh;
  }
}

@layer components {
  .btn {
    @apply rounded-md tracking-wider capitalize bg-black text-white transition-all duration-300 ease-in-out;
    padding: 0.4rem 0.7rem;
  }

  .btn:hover,
  .btn:focus,
  .btn:focus-visible {
    background-color: theme('colors.primary');
  }

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed bg-black;
  }

  .btn-secondary {
    @apply rounded-md tracking-wider text-primary transition-all duration-300 ease-in-out;
    background-color: rgb(233, 233, 233);
    padding: 0.4rem 0.7rem;
  }

  .btn-secondary:hover,
  .btn-secondary:focus,
  .btn-secondary:focus-visible {
    background-color: rgb(211, 211, 211);
  }

  .icon-btn {
    background-color: rgb(243, 243, 243);
    padding: 7px;
    border-radius: 10px;
    color: rgb(83, 83, 83);
    transition: all 0.3s ease-in-out;
  }

  .icon-btn:hover,
  .icon-btn:focus,
  .icon-btn:focus-visible {
    background-color: #e7e7e7;
  }

  .btn-danger {
    @apply rounded-md tracking-wider transition-all duration-300 ease-in-out text-white;
    background-color: rgb(206, 0, 0);
    padding: 0.4rem 0.7rem;
  }

  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger:focus-visible {
    background-color: rgb(154, 0, 0);
  }

  .slideBtn {
    @apply p-1 rounded-full shadow bg-white/80 text-gray-800 hover:bg-white;
  }
}

@layer utilities {
  .main-layout {
    @apply m-auto py-36;
    width: 90vw;
    max-width: 1200px;
  }

  .decor-img {
    @apply rounded-full h-full w-full shadow-lg;
  }

  .modal {
    @apply fixed top-0 left-0 w-full h-full z-50 bg-black/80;
  }

  .modal-body {
    @apply flex justify-center items-center m-auto bg-white max-w-fit my-10 p-5 rounded-lg;
    width: 90vw;
  }

  .metas-badge {
    @apply flex items-center gap-2 text-sm rounded-xl bg-white border border-slate-300 text-slate-500 px-3 py-2 shadow-lg;
  }

  .floating-input,
  .floating-textarea {
    @apply w-full text-sm bg-transparent rounded-lg;
    padding: 12px 9px;
    border: 1px solid rgb(204, 204, 204);
  }

  .floating-input:focus,
  .floating-textarea:focus {
    outline: none;
    border: 1px solid blue;
  }

  .floating-label {
    @apply absolute text-sm text-lightGrey duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1;
  }

  #inputError {
    @apply text-red-600 text-sm mt-1;
  }

  .no-results-message {
    @apply py-10 font-medium text-lightGrey;
  }
}
