@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: theme('fontFamily.serif');
    font-weight: bold;
    text-transform: capitalize;
  }

  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: larger;
  }

  h3 {
    font-size: large;
  }

  img {
    object-fit: cover;
  }

  body {
    background-color: #f9f9f9;
    color: rgb(49, 49, 49);
  }
}

@layer components {
  .btn {
    background-color: black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: white;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
  }

  .btn:hover,
  .btn:focus,
  .btn:focus-visible {
    background-color: theme('colors.primary');
  }

  .iconBtn {
    background-color: rgb(243, 243, 243);
    padding: 7px;
    border-radius: 10px;
    color: rgb(83, 83, 83);
    transition: all 0.3s ease-in-out;
  }

  .iconBtn:hover,
  .iconBtn:focus,
  .iconBtn:focus-visible {
    background-color: #e7e7e7;
  }

  .dangerBtn {
    background-color: rgb(206, 0, 0);

    color: white;
    border-radius: 10px;
    padding: 0.4rem 0.7rem;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
    font-size: small;
  }

  .btnSecondary {
    background-color: theme('colors.primaryLight');
    color: theme('colors.primaryDark');
    border-radius: 10px;
    padding: 0.4rem 0.7rem;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
    font-size: small;
  }

  .slideBtn {
    @apply p-1 rounded-full shadow bg-white/80 text-gray-800 hover:bg-white;
  }
}

@layer utilities {
  .main-layout {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 7rem 0;
  }

  .decor-img {
    @apply rounded-full h-full w-full shadow-lg;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  }

  .modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 90vw;
    max-width: fit-content;
  }

  .infoBadge {
    @apply flex items-center gap-2 text-sm rounded-xl bg-white border border-slate-300 text-slate-500 px-3 py-2 shadow-lg;
  }

  .nav-link {
    color: theme('colors.primary');
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:focus-visible,
  .active {
    color: theme('colors.primaryDark');
  }

  .category-card-container {
    overflow: hidden;
  }

  .bookingCard {
    @apply relative flex flex-col md:flex-row gap-3 bg-white shadow-lg rounded-2xl min-h-[200px] md:max-h-[250px] lg:max-h-[220px];
  }

  .bookingCard img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }

  .bookingCard:hover img {
    transform: scale(1.2);
  }

  .bookingCard #bookingCardPrice {
    @apply lg:absolute lg:bottom-4 lg:right-4;
  }

  .category-card {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 350px;
    transition: all 0.5s ease;
  }

  .category-card:hover,
  .category-card:focus,
  .category-card:focus-visible {
    transform: scale(1.2);
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-gap: 5px;
  }

  .image-gallery img:first-child {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
  }

  .calendarWrap .rdrDateDisplayWrapper {
    display: none;
  }

  .floating-input,
  .floating-textarea {
    display: block;
    padding: 12px 9px;
    width: 100%;
    font-size: small;
    background-color: transparent;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0.5rem;
  }

  .floating-input:focus,
  .floating-textarea:focus {
    outline: none;
    border: 1px solid blue;
  }

  .floating-label {
    position: absolute;
    font-size: small;
    color: theme('colors.lightGrey');
    @apply duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1;
  }

  .table-heading {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider;
  }

  .table-content {
    @apply px-6 py-4 whitespace-nowrap text-sm;
  }
}

/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
